body{
    font-weight: poppings sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: skyblue;
}

nav ul{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    background: transparent;
    border: solid navy 1px;
    color: white;

}

.site-title h1{
    color: navy;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hobbies{
    list-style-type: square;
}

.hobbies li:nth-child(odd) {
    background-color: royalblue;
    color:white;
} 